crispy-bootstrap5==0.6
coverage==7.2.2
Django==4.1.7
django-cleanup==7.0.0
django-multiselectfield==0.1.12
flake8==6.0.0
Faker==17.6.0
gunicorn==20.1.0
isort==5.12.0
pdfkit==1.0.0
Pillow==9.4.0
psycopg2-binary==2.9.5
python-decouple==3.6
