<div class="col-lg-3 col-6 mb-2 {% block card-class %}{% endblock card-class %}">
    <div class="card p-3">
        <div class="d-flex justify-content-between">
            <div class="align-self-center">
                {% block icon %}{% endblock icon %}
            </div>
            <div class="float-end">
                <h3 class="text-end">{% block count %}{% endblock count %}</h3>
                <p class="mb-0">{% block title %}{% endblock title %}</p>
            </div>
        </div>
    </div>
</div>