{% extends "modals/base_modal_dialog.html" %}

{% block modal-id %}id="autologoutinfoModal"{% endblock modal-id %}

{% block modal-title %}<i class="fas fa-exclamation-triangle pe-1"></i> Information{% endblock modal-title %}

{% block modal-body %}
<div class="text-warning">
    <span class="fa-stack fa-3x">
        <i class="fas fa-cloud fa-stack-2x"></i>
        <i class="fas fa-user-shield fa-stack-1x fa-inverse"></i>
    </span>
</div>
<div class="mt-3">
    <span class="text-success">Your account is now secure!</span>
    <br>
    <span>For your safety, the system has automatically logged you out.</span>
</div>
{% endblock modal-body %}

{% block modal-button %}
<button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>
{% endblock modal-button %}