{% extends "modals/base.html" %}

<!-- Modal ID-->
{% block modal-id %}id="backendModal"{% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}Backend opportunities{% endblock modal-title %}

<!-- Form Action -->
{% block action %}action="/backend_email/"{% endblock action %}

<!-- Form Validation -->
{% block validation %}onsubmit="return validateBackendForm()"{% endblock validation %}

<!-- Input IDs -->
{% block fullname-id %}id="id_fullname2"{% endblock fullname-id %}
{% block age-id %}id="id_age2"{% endblock age-id %}
{% block email-id %}id="id_email2"{% endblock email-id %}
{% block phone-id %}id="id_phone2"{% endblock phone-id %}
{% block address-id %}id="id_address2"{% endblock address-id %}
{% block experience-id %}id="id_experience2"{% endblock experience-id %}
{% block skills-id %}id="id_skills2"{% endblock skills-id %}
{% block file-id %}id="id_file2"{% endblock file-id %}