<div class="modal fade" id="deleteCandidate{{ candidate.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-trash-alt pe-1"></i> Delete Candidate
                </h5>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center text-danger">
                    <i class="far fa-times-circle fa-5x mb-4 mt-2"></i>
                </div>
                <div class="text-center text-danger">
                    <span>Are You Sure You Want To Delete This Candidate?</span>
                    <p class="text-dark mt-2">Candidate: <strong>{{ candidate }}</strong></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>
                <a href="{% url 'delete_candidate' candidate.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>
