{% extends "modals/base_modal_form.html" %}

<!-- Modal ID-->
{% block modal-id %}id="frontendModal"{% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}Frontend opportunities{% endblock modal-title %}

<!-- Form Action -->
{% block action %}action="/frontend_email/"{% endblock action %}

<!-- Form Validation -->
{% block validation %}onsubmit="return validateFrontendForm()"{% endblock validation %}

<!-- Input IDs -->
{% block fullname-id %}id="id_fullname"{% endblock fullname-id %}
{% block age-id %}id="id_age"{% endblock age-id %}
{% block email-id %}id="id_email"{% endblock email-id %}
{% block phone-id %}id="id_phone"{% endblock phone-id %}
{% block address-id %}id="id_address"{% endblock address-id %}
{% block experience-id %}id="id_experience"{% endblock experience-id %}
{% block skills-id %}id="id_skills"{% endblock skills-id %}
{% block file-id %}id="id_file"{% endblock file-id %}