{% extends "base.html" %}

{% block title %}Error 500{% endblock title %}

{% block bg-image %}{% endblock bg-image %}

{% block secondarynav %}
<a href="{% url 'home' %}" class="text-decoration-none" title="Go Home">
    <i class="text-warning fas fa-angle-double-left"></i>
</a>
{% endblock secondarynav %}

{% block autologout %}{% endblock autologout %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="text-center text-warning">
        <span class="fa-stack fa-8x">
            <i class="fas fa-bug fa-2x"></i>
        </span>
        <h1 class="text-dark mt-4 fw-bold display-1">500</h1>
        <p class="text-danger fw-bold">A server error occured. We are working on it.</p>
    </div>
</div>

{% endblock content %}