{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="{% static 'styles/fontawesome/all.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <title>{% block title %}{% endblock %} | Django Mastery</title>
</head>
<body class="d-flex flex-column h-100 vh-100">

    <div id="preloader" class="rounded-circle position-absolute top-50 p-3"></div>

    <div class="flex-shrink-0">

        <header class="navbar navbar-expand-lg navbar-dark bg-dark">
            <nav class="container">
                <span class="navbar-brand text-white">
                    {% block navbrand %}
                    <i class="text-warning fas fa-cubes pe-1"></i> Django Mastery
                    {% endblock navbrand %}
                </span>
                <!-- Link to navigate between pages -->
                {% block secondarynav %}{% endblock secondarynav %}
            </nav>
        </header>

        <div class="container">
            {% block content %}{% endblock content %}
        </div> <!--=== END // .container ===-->
        
    </div>

    <footer class="bg-dark py-4 mt-auto text-center text-lg-start">
        <div class="container">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-warning">&copy;{% now "Y" %} &bull; Django Mastery</div>
                </div>
                <div class="col-auto">
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-warning small" href="javascript:void()">Seyi Pythonian</a>
                    <span class="text-white mx-1">&middot;</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Message notifications -->
    {% if messages %}
    {% for message in messages %}
        <script src="{% static 'scripts/sweetalert.min.js' %}"></script>
        {% if message.tags == 'success' %}        
        <script>
            var m = "{{ message }}";
            swal("Perfect!", m, "success")
        </script>
        {% elif message.tags == 'error' %}        
        <script>
            var m = "{{ message }}";
            swal("Sorry!", m, "error")
        </script>
        {% endif %}
    {% endfor %}
    {% endif %}

    <!-- jQuery -->
    <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap JS bundle -->
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <!-- Inputmask -->
    <script src="{% static 'scripts/jquery.inputmask.js' %}"></script>
    <!-- Sweetalert JS-->
    <script src="{% static 'scripts/sweetalert.min.js' %}"></script>
    <!-- TypedJS-->
    <script src="{% static 'scripts/typed.js' %}"></script>
    <!-- Custom JS-->
    <script src="{% static 'scripts/app.js' %}"></script>
    {% block script %}{% endblock script %}

</body>
</html>