{% extends "base.html" %}

{% block title %}Candidates{% endblock %}

{% block bg-image %}{% endblock %}

{% block navbrand %}
<i class="text-warning fas fa-users pe-1"></i> Candidates
{% endblock navbrand %}

{% block datetime %}
<div class="text-light">
    {% now "l (m/d/Y)" %} <span class="text-warning" id="clock"></span>
</div>
{% endblock datetime %}

{% block secondarynav %}
<a href="{% url 'dashboard' %}" class="text-decoration-none" title="Go Back">
    <i class="text-warning fas fa-angle-double-left"></i>
</a>
{% endblock secondarynav %}

{% block content %}

{% include 'partials/_alert.html' %}

<div class="row my-3">
    {% include 'partials/_application_total.html' %}
    {% include 'partials/_frontend.html' %}
    {% include 'partials/_backend.html' %}
    {% include 'partials/_fullstack.html' %}
</div>

<div class="my-5">
    <div class="row mb-3">
        <div class="col-lg-8 px-0">
            <form action="" method="GET">
                <div class="btn btn-group ps-0">
                    <input type="submit" class="btn-check" value="FE-22" name="f" id="jobradio1">
                    <label for="jobradio1" class="btn {% if request.GET.f == 'FE-22' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">FE-22</label>

                    <input type="submit" class="btn-check" value="BE-22" name="f" id="jobradio2">
                    <label for="jobradio2" class="btn {% if request.GET.f == 'BE-22' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">BE-22</label>

                    <input type="submit" class="btn-check" value="FS-22" name="f" id="jobradio3">
                    <label for="jobradio3" class="btn {% if request.GET.f == 'FS-22' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">FS-22</label>
                </div>

                <div class="btn btn-group ps-0">
                    <input type="submit" class="btn-check" value="P" name="f" id="status4">
                    <label for="status4"
                        class="btn {% if request.GET.f == 'P' %}btn-warning{% else %}btn-outline-warning{% endif %}"><i class="fas fa-question"></i></label>
                
                    <input type="submit" class="btn-check" value="A" name="f" id="statusradio5">
                    <label for="statusradio5"
                        class="btn {% if request.GET.f == 'A' %}btn-success{% else %}btn-outline-success{% endif %}"><i class="fas fa-check"></i></label>
                
                    <input type="submit" class="btn-check" value="D" name="f" id="statusradio6">
                    <label for="statusradio6"
                        class="btn {% if request.GET.f == 'D' %}btn-danger{% else %}btn-outline-danger{% endif %}"><i class="fas fa-xmark"></i></label>
                </div>

                <div class="btn btn-group ps-0">
                    <input type="submit" class="btn-check" value="M" name="f" id="genderradio7">
                    <label for="genderradio7" class="btn {% if request.GET.f == 'M' %}btn-primary{% else %}btn-outline-primary{% endif %}"><i class="fas fa-person"></i></label>
                    
                    <input type="submit" class="btn-check" value="F" name="f" id="genderradio8">
                    <label for="genderradio8" class="btn {% if request.GET.f == 'F' %}btn-danger{% else %}btn-outline-danger{% endif %}"><i class="fas fa-person-dress"></i></label>
                </div>

                <div class="btn btn-group ps-0">
                    <input type="submit" class="btn-check" value="ascending" name="asc" id="alphabetradio8">
                    <label for="alphabetradio8"
                        class="btn {% if request.GET.asc == 'ascending' %}btn-secondary{% else %}btn-outline-secondary{% endif %}"><i class="fas fa-arrow-up-a-z"></i></label>
                
                    <input type="submit" class="btn-check" value="descending" name="desc" id="alphabetradio9">
                    <label for="alphabetradio9"
                        class="btn {% if request.GET.desc == 'descending' %}btn-secondary{% else %}btn-outline-secondary{% endif %}"><i class="fas fa-arrow-down-z-a"></i></label>
                </div>
            </form>
        </div>

        <div class="col-lg-4 px-0 mt-2">
            <form action="" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by Name or Email" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-warning" title="Search"><i class="fas fa-search"></i></button>
                    <a href="{% url 'candidates' %}" class="btn btn-dark ms-1" title="Refresh"><i
                            class="fas fa-sync-alt"></i></a>
                </div>
            </form>
        </div>

    </div>
    
    <div class="row hide">
        <div class="col-12 px-0 table-responsive">
            <table class="table bg-white table-hover text-center table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th class="col">#</th>
                        <th class="col">Name</th>
                        <th class="col">Email</th>
                        <th class="col">Gender</th>
                        <th class="col">Job</th>
                        <th class="col">Status</th>
                        <th class="col">Received</th>
                        <th class="col bg-secondary text-light"><i class="fas fa-tools pe-1"></i> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in candidates %}
                    <tr id="check_td">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ candidate.fullname }}</td>
                        <td>{{ candidate.email }}</td>
                        <td>{{ candidate.get_gender_display }}</td>
                        <td>
                            {% if candidate.job == 'FE-22' %}Frontend{% elif candidate.job == 'BE-22' %}Backend{% else %}Fullstack{% endif %}
                        </td>
                        <td>{{ candidate.get_status_display }}</td>
                        <td>{{ candidate.created|date:"F j, Y" }}</td>
                        <td>
                            <a href="{% url 'candidate' candidate.pk %}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                            <a href="{% url 'group_chat' candidate.pk %}" class="btn btn-success"><i class="fas fa-comment-alt"></i></a>
                            <button data-bs-toggle="modal" data-bs-target="#noteModal{{ candidate.pk }}" class="btn {% if not candidate.note %}btn-outline-warning{% else %}btn-warning{% endif %} text-dark" title="Company note" {% if not candidate.note %}disabled{% endif %}><i class="fas fa-question"></i></button>
                            <a data-bs-toggle="modal" data-bs-target="#deleteCandidate{{ candidate.id }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% include 'modals/application_note.html' %}
                    {% include 'modals/delete_candidate.html' %}
                    {% empty %}
                    <td colspan="10">No record found</td>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <p>Showing <span class="fw-bold">{{ candidates.start_index }}-{{ candidates.end_index }}</span> of <span
                        class="fw-bold">{{ candidates.paginator.count }}</span> candidate{{ candidates.paginator.count|pluralize }}</p>
                {% include 'partials/_pagination.html' with page_obj=candidates %}
            </div>
            
        </div>
    </div>
    
    <div class="position-absolute top-50 start-50 translate-middle">
        <span class="text-warning fs-1" id="emptyMsg"></span>
    </div>

</div>

{% endblock content %}