{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block navbrand %}
<i class="text-warning fas fa-gauge pe-1"></i> Dashboard
{% endblock navbrand %}

{% block datetime %}
<div class="text-light">
    {% now "l (m/d/Y)" %} <span class="text-warning" id="clock"></span>
</div>
{% endblock datetime %}

{% block offcanvasmenu %}
<center class="mb-2 fw-bold">
    Welcome: <span class="text-warning">{{ user.get_username }}</span>
</center>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
{% if request.user.is_superuser %}
<a href="{% url 'admin:index' %}" target="_blank" class="btn btn-dark">Admin</a>
{% else %}
<a href="{% url 'support' %}" class="btn btn-info">Support</a>
{% endif %}
<a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
<hr>
<center>
    <i class="fas fa-gauge fa-7x watermark mt-5"></i>
</center>
{% endblock offcanvasmenu %}

{% block content %}

<div class="row mb-5">
    <h6 class="bg-warning my-3 py-3 text-center fw-bold">
        CONTROL PANEL
    </h6>
    <div class="border-dark card">
        <div class="row">
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    <button class="btn btn-success btn-lg">
                        <i class="fas fa-user-alt fa-7x"></i>
                        <span class="d-block">Candidates</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    <button class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#vacancyModal">
                        <i class="fas fa-users fa-7x"></i>
                        <span class="d-block">Opportunities</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    <button class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#countdownModal">
                        <i class="fas fa-clock fa-7x"></i>
                        <span class="d-block">Countdown</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    <a href="{% url 'inbox' %}" class="btn btn-primary btn-lg">
                        <i class="fas fa-envelope fa-7x"></i>
                        <span class="d-block">Inbox</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "modals/vacancies.html" %}
{% include "modals/countdown.html" %}

{% endblock content %}
