{% extends 'base.html' %}

{% block title %}Home{% endblock %}

<!-- Page content -->
{% block content %}

<h1 class="text-light end-50 pt-5 mt-5 text-center">Django <span class="text-warning" id="typing"></span></h1>

<a href="{% url 'opportunities' %}" class="position-absolute top-50 start-50 translate-middle btn btn-lg rounded-pill shadow-lg btn-outline-warning border border-3 border-warning">
    <i class="fas fa-chart-pie pe-1"></i> Job Opportunities
</a>

<div class="">
    <button type="button" class="btn btn-warning text-dark pulse position-fixed rounded-circle p-3" data-bs-toggle="modal" data-bs-target="#messageModal">
        <i class="fas fa-envelope fa-2x"></i>
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="modalMessage">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel"><i class="fas fa-envelope pe-1 text-warning"></i> Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/send_message/">
        {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <textarea name="message" rows="10" class="form-control" maxlength="1000" placeholder="Write your message..." required></textarea>                
            </div>
            <div class="d-grid mb-2 mt-3 gap-2">
                <button class="btn btn-warning" type="submit"><i class="fas fa-paper-plane pe-1"></i> Send message</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
// Typed JS
var typed = new Typed('#typing', {
    strings: [
        'is a Python web framework',
        'provides for rapid development',
        'is versatile in nature',
        'is batteries included',
        'offers high security'
    ],
    typeSpeed: 50,
    backSpeed: 30,
    loop: true,
})
</script>
{% endblock script %}