{% extends "base.html" %}

{% block title %}Inbox{% endblock %}

{% block bg-image %}{% endblock %}

{% block navbrand %}
<i class="text-warning fas fa-envelope pe-1"></i> Inbox
{% endblock navbrand %}

{% block datetime %}
<div class="text-light">
    {% now "l (m/d/Y)" %} <span class="text-warning" id="clock"></span>
</div>
{% endblock datetime %}

{% block secondarynav %}
<a href="{% url 'dashboard' %}" class="text-decoration-none" title="Go Back">
    <i class="text-warning fas fa-angle-double-left"></i>
</a>
{% endblock secondarynav %}

{% block content %}

<div class="row my-3">
    {% include 'partials/_total.html' %}   
    {% include 'partials/_read.html' %}   
    {% include 'partials/_unread.html' %}   
    {% include 'partials/_today.html' %}   
</div>

<form action="" method="GET">
    <div class="row">
        <div class="col-12 px-0">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." name="q" value="{{ request.GET.q }}">
                <button class="btn btn-warning" title="Search"><i class="fas fa-search"></i></button>
                <a href="{% url 'inbox' %}" class="btn btn-dark ms-1" title="Refresh"><i class="fas fa-sync-alt"></i></a>
            </div>
        </div>
    </div>
</form>

<div class="row hide">
    <div class="col-12 px-0 table-responsive">
        <table class="table bg-white table-hover">
            <thead class="table-secondary border-0">
                <tr>
                    <th class="col-5">Subject</th>
                    <th class="col-3">Sender</th>
                    <th class="col-2">Email</th>
                    <th class="col-2">Received</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr class="{% if message.status == message.PENDING %}table-active fw-bold{% endif %}" id="check_td">
                    <td><a href="{% url 'message' message.pk %}" class="text-decoration-none">{{ message.subject }}</a></td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.email }}</td>
                    <td>{{ message.created|date:'d/b/y g:ia' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="position-absolute top-50 start-50 translate-middle">
    <a class="d-block text-center text-success" href="{% url 'inbox' %}" title="Refresh" id="refresh"></a>
    <span class="text-warning fs-1" id="emptyMsg"></span>
</div>

{% endblock content %}
