{% extends 'base.html' %}

{% block title %}Job Opportunities{% endblock %}

{% block navbrand %}
<i class="text-warning fas fa-chart-pie pe-1"></i> Job Opportunities
{% endblock navbrand %}

{% block secondarynav %}
<a href="{% url 'home' %}" class="text-decoration-none" title="Go Home">
    <i class="text-warning fas fa-angle-double-left"></i>
</a>
{% endblock secondarynav %}

{% block content %}

<div class="row mb-5">
    <h6 class="bg-warning my-3 py-3 text-center fw-bold">
        AVAILABLE JOB OPPORTUNITIES
    </h6>
    <div class="card p-3 bg-dark">
        <div class="row">
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    {% if vacancy.design == 0 %}
                    <button class="btn btn-outline-light btn-lg" disabled>
                    {% else %}
                    <button class="btn btn-outline-warning btn-lg">
                    {% endif %}
                        <i class="fab fa-figma fa-5x"></i>
                        <span class="d-block">Design</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    {% if vacancy.frontend == 0 %}
                    <button class="btn btn-outline-light btn-lg" disabled>
                    {% else %}
                    <button class="btn btn-outline-warning btn-lg" data-bs-toggle="modal" data-bs-target="#frontendModal">
                    {% endif %}
                        <i class="fab fa-html5 fa-5x"></i>
                        <span class="d-block">Frontend</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    {% if vacancy.backend == 0 %}
                    <button class="btn btn-outline-light btn-lg" disabled>
                    {% else %}
                    <button class="btn btn-outline-warning btn-lg" data-bs-toggle="modal" data-bs-target="#backendModal">
                    {% endif %}
                        <i class="fab fa-python fa-5x"></i>
                        <span class="d-block">Backend</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-1">
                <div class="card bg-transparent">
                    {% if vacancy.devops == 0 %}
                    <button class="btn btn-outline-light btn-lg" disabled>
                    {% else %}
                    <button class="btn btn-outline-warning btn-lg">
                    {% endif %}
                        <i class="fab fa-docker fa-5x"></i>
                        <span class="d-block">DevOps</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-warning text-dark pulse position-fixed rounded-circle px-4 py-3" data-bs-toggle="modal" data-bs-target="#opportunityModal">
    <i class="fas fa-lightbulb fa-2x"></i>
</button>

<!-- Modals -->
{% include "modals/opportunity_info_modal.html" %}

{% endblock content %}

{% block script %}
<script>
// Countdown timer
var dataTime = new Date('{{ vacancy.timer }}').getTime();
var control = setInterval(function() {
    var now = new Date().getTime();
    var sub = dataTime - now;
    // DT Format
    var d = Math.floor(sub / (1000 * 60 * 60 * 24));
    var h = Math.floor((sub % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var m = Math.floor((sub % (1000 * 60 * 60)) / (1000 * 60));
    var s = Math.floor((sub % (1000 * 60)) / 1000);
    // Output
    document.getElementById("timer").innerHTML = d + "d " + h + "h " + m + "m " + s + "s ";
    if (sub < 0) {
        clearInterval(control);
        document.getElementById("timer").innerHTML = "JOB VACANCIES CLOSED";
        document.getElementById("timer").style.color = "red";
    }
}, 1000);

</script>
{% endblock script %}
