.background-image {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),
                      url("/static/images/bg-image.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#preloader {
    border: 6px solid #e5e5e5;
    border-top-color: orange;
    left: calc(50% - 32px);
    z-index: 1;
    animation: preloader 1.2s;
    animation-fill-mode: forwards;
}

@keyframes preloader {
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

.card-border-top {
    border-top: 6px solid #ffc107;
    border-radius: 10px;
}

.form-check-input:checked {
    background-color: #ffc107;
    border: #ffc107;
    box-shadow: 0 0 8px rgba(250, 190, 88, 1);
}

.form-check-input {
    border: #ffc107;
    box-shadow: 0 0 8px rgba(250, 190, 88, 1);
}

.form-control:focus {
    border-color: #ffc107;
    box-shadow: none;
}

.pulse {
    /*right: 7.1875em;*/
    left: calc(100% - 190px);
    bottom: 100px;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(218, 165, 32, .7), 0 0 0 0 rgba(218, 165, 32, .7);
    }
    40% {
        box-shadow: 0 0 0 30px rgba(255, 109, 74, 0), 0 0 0 0 rgba(218, 165, 32, .7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
}

#modalMessage {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 400px;
}

@media(max-width: 575px) {
    #modalMessage {
        bottom: 55px;
        right: 12px;
        width: 90%;
    }    
}

#bg-spinner {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(1, 1, 1, 0.7);
}
#position-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px #d3d3d3 solid;
    border-top: 6px #198754 solid;
    animation: loading 1s infinite linear;
}
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

/* Sweetalert Custom Styles */
.swal-text {
    text-align: center;
}
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners {
    background: none !important;
}
.swal-icon--success {
    border-color: orange;
}
.swal-icon--success__line {
    background-color: orange;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #111;
    font-size: 12px;
    border: 1px solid #111;
}
.swal-button:focus {
    box-shadow: none;
}
.swal-button:not([disabled]):hover {
    background: transparent;
    color: #111;
    border: 1px solid #111;
}
