body {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("https://picsum.photos/id/1033/1920/1080");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
